{% extends "base.html" %}
{% load static %}
{% block title %}Projet{% endblock %}
{% block css_links %}

<link href="{% static 'projects/css/project.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="masthead">
<div id="error-message-popup" class="d-none"><p id='error-message'></p></div>
<div class="d-none d-md-flex vertical-menu flex-column py-5 pr-3">
    <h4>{{project.name}}</h4>
    <nav>
        <ul>
            <li>Informations générales</li>
            <li class="li-to-extend"><i class="fas fa-arrow-right d-inline mr-2 arrow-dropdown"></i>Traductions projet</li>
            <ul class="sub-list-vertical-menu" style="visibility:hidden;">
                <li>Voir toutes les traductions</li>
                <li><a href="{% url 'model_list' project_id=project.id %}" class="text-decoration-none text-reset">Traductions par modèle Odoo</a></li>
                <li>Traductions par vue Odoo</li>
                <li>Traductions par menu Odoo</li>
                <li>Traductions par code Odoo</li>
                <li>Autres traductions</li>
            </ul>
        </ul>
    </nav>
</div>
{% block right_content_project %}
{% endblock %}
</div>
{% endblock %}