{% extends "base.html" %}
{% load static %}
{% block title %}Projet{% endblock %}
{% block css_links %}

<link href="{% static 'projects/css/project.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="masthead">
<div class="vertical-menu d-flex flex-column py-5 pr-3">
    <h4>{{project.name}}</h4>
    <nav>
        <ul>
            <li>Informations générales</li>
            <li class="li-to-extend"><i class="fas fa-arrow-right d-inline mr-2 arrow-dropdown"></i>Traductions projet</li>
            <ul class="sub-list-vertical-menu" style="visibility:hidden;">
                <li>Voir toutes les traductions</li>
                <li>Traductions par modèle Odoo</li>
                <li>Traductions par vue Odoo</li>
                <li>Traductions par menu Odoo</li>
                <li>Traductions par code Odoo</li>
                <li>Autres traductions</li>
            </ul>
        </ul>
    </nav>
</div>
<div id="project_detail_content" class="page-content" data-project-id="{{project.id}}">
    {% if not modifications %}
    <h1 class="h4 pt-2 col-11 text-center">Informations générales</h1>
    {% if has_write_rights %}
    <div class="text-left px-4 pb-2">
        <button class="btn btn-info rounded"><a href="{% url 'detail_project_modifications' project_id=project.id %}" class="disabled-link-style">Modifier</a></button>
    </div>
    {% endif %}
    <h2 class="h4 text-left px-4 pt-2">Détails</h2>
        <div class="block-details-project">
            <div class="d-flex justify-content-around">
            <p id='project_{{project.id}}_name'>Nom du projet : {{project.name}}</p>
            <p>Date de création : {{project.creation_date}}</p>
            </div>
            <div class="d-flex flex-column justify-content-start">
            <p>Description du projet : </p>
            <p id='project_{{project.id}}_description'>{{project.description}}</p>
            </div>
        </div>
    <h2 class="h4 text-left px-4 pt-2">Utilisateurs</h2>
        <div class="block-users-project">
            <p>créateur du projet : {{project.creator}}</p>
            {%for user_project in users_on_project %}
                <div class="user_infos d-flex justify-content-between pl-5">
                    <p>{{user_project.user}} : {{user_project.user_role.get_name_display}}</p>
                </div>
            {% endfor %}
        </div>
    <h2 class="h4 text-left px-4 pt-2">Fichiers de traductions</h2>
        <div class="block-files-project">
            {% if not files %}
            <p>Il n'y a aucun fichier de traduction</p>
            {% endif %}
        </div>
    {% else %}
    <!--In the case of user clicks on the modify button-->
    <h1 class="h4 pt-2 col-11 text-center">Informations générales</h1>
    <div class="text-left px-4 pb-2">
        <button id = "btn-save" class="btn btn-info rounded"><a href="#" class="disabled-link-style">Sauvegarder</a></button>
        <button class="btn btn-info rounded"><a href="{% url 'detail_project' project_id=project.id %}" class="disabled-link-style">Annuler</a></button>
    </div>
    <h2 class="h4 text-left px-4 pt-2">Détails</h2>
        <div id="detail_project_{{project.id}}"class="block-details-project">
            <div class="d-flex justify-content-around">
            {{ project_f.management_form }}
            <p id='project_{{project.id}}_name' class="d-flex justify-content-start"><span class="element-no-wrap">Nom du projet :</span>{{project_f.name}}</p>
            <p>Date de création : {{project.creation_date}}</p>
            </div>
            <div class="d-flex flex-column justify-content-start">
            <p>Description du projet : </p>
            <p id='project_{{project.id}}_description'>{{project_f.description}}</p>
            </div>
        </div>
    <h2 class="h4 text-left px-4 pt-2">Utilisateurs</h2>
        <div class="block-users-project">
            <p>créateur du projet : {{project.creator}}</p>
            {{ formset.management_form }}
            {%for user_project_form in users_on_project %}
                <div class="user_infos d-flex justify-content-between pl-5" data-user-id="{{user_project_form.instance.id}}">
                    <p id='project_user_id_{{user_project_form.id.value}}'>{{user_project_form.instance.user}} : 
                    <span id="role_user_{{user_project_form.instance.id}}">{{user_project_form.user_role}}</span> 
                    <i class="fas fa-minus-circle" data-user-deleted='{{user_project_form.instance.id}}' style="color:red;"></i></p>
                    
                </div>
            {% endfor %}
            <div class="d-none user_infos justify-content-between pl-5" data-user-id="new_0">
                <p><input type="text" class="new_user" /> : 
                {{role_form.name}}
                <i class="fas fa-minus-circle" data-user-deleted="new" data-new-user-id="0" style="color:red;"></i></p>                
            </div>
        </div>
        <div class="pl-5 btn-append"><i class="fas fa-plus-circle fa-2x" style="color:green;"></i></div>
    <h2 class="h4 text-left px-4 pt-2">Fichiers de traductions</h2>
        <div class="block-files-project">
            {% for file in files %}
            <div class="file_infos justify-content-between pl-5 border rounded my-2">
                <i class="fas fa-trash-alt" data-file-id={{file.id}}></i>
                <p><a href="/media/{{file.original_file}}">{{file.name}}</a></p>
                <p>Langue du fichier : {{file.get_translated_language_display}}</p>
                <p>Fichier de template : {% if file.is_template %} <input type="checkbox" checked disabled />{% else %}<input type="checkbox" disabled />{% endif %}</p>             
            </div>
            {% endfor %}
            <div id="form_file_template" class="d-none file_infos justify-content-between pl-5 border rounded my-2">
                <i class="fas fa-trash-alt" data-file-id="new"></i>
                <p>{{file_form.original_file}}</p>
                <p>Langue du fichier : {{file_form.translated_language}}</p>
                <p>Fichier de template : {{file_form.is_template}}</p>             
            </div>
        </div>
        <div class="pl-5 btn-append-file"><i class="fas fa-plus-circle fa-2x" style="color:green;"></i></div>
    {% endif %}
</div>
</div>
{% endblock %}

{% block javascript_files%}
    <script src="{% static 'projects/js/project.js' %}"></script>
    <script src="{% static 'projects/js/project_detail.js' %}"></script>
{% endblock %}