{% extends "base.html" %}
{% load static %}
{% block title %}Projet{% endblock %}
{% block css_links %}

<link href="{% static 'projects/css/project.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="masthead">
<div class="vertical-menu d-flex flex-column py-5 pr-3">
    <h4>Nom du projet</h4>
    <nav>
        <ul>
            <li>Informations générales</li>
            <li class="li-to-extend"><i class="fas fa-arrow-right d-inline mr-2 arrow-dropdown"></i>Traductions projet</li>
            <ul class="sub-list-vertical-menu" style="visibility:hidden;">
                <li>Voir toutes les traductions</li>
                <li>Traductions par modèle Odoo</li>
                <li>Traductions par vue Odoo</li>
                <li>Traductions par menu Odoo</li>
                <li>Traductions par code Odoo</li>
                <li>Autres traductions</li>
            </ul>
        </ul>
    </nav>
</div>
<div class="page-content text-center">
    <h1 class="h4 pt-2">Informations générales</h1>
    <h2 class="h4 text-left pl-2 pt-2">Détails</h2>
        <div class="block-details-project">
        </div>
    <h2 class="h4 text-left pl-2 pt-2">Utilisateurs</h2>
        <div class="block-users-project">

        </div>
    <h2 class="h4 text-left pl-2 pt-2">Fichiers de traductions</h2>
        <div class="block-files-project">

        </div>
</div>
</div>
{% endblock %}

{% block javascript_files%}
    <script src="{% static 'projects/js/project_detail.js' %}"></script>
{% endblock %}