{% extends "base.html" %}
{% load static %}
{% block title %}mes projets{% endblock %}
{% block css_links %}

<link href="{% static 'projects/css/projects_list.css' %}" rel="stylesheet">

{% endblock %}
{% block popup %}
    <div class="shadow-popup">
    <div class="popup-creation-project container text-center d-none">
        <div class="button-close-popup">x</div>
        {% for message in messages %}
        <p class="text-danger text-center">{{message}}</p> 
        {% endfor %}
        <div class="container pt-2">
        <form action="{% url 'create_project' %}" method="post" class="form-group row">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Créer" class="btn btn-primary submit-button" />
        </form>
        </div>
    </div>
    </div>
{% endblock %}

{% block content %}
<header class="masthead">
{{sentence}}
<div class="masthead-content container">
    <h1 class="h3 main-title text-center">Mes projets</h1>
        <div class="container">
        {% for sub_projects in projects %}
            <div class="row justify-content-around text-center p-1">
                {% if sub_projects|length == 2 %}
                    {% for project in sub_projects %}
                        <div class="col-10 col-md-5 border mb-3 project-div">
                            <p>Project : <span class="font-weight-bold">{{project.project.name}}</span></p>
                            <p> Role : <span class="font-weight-bold">{{project.user_role.get_name_display}}</span></p>
                            <button class="my-2 rounded bg-info">Voir le projet</button>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-10 col-md-5 border mb-3 project-div">
                        <p>Project : <span class="font-weight-bold">{{sub_projects.0.project.name}}</span></p>
                        <p> Role : <span class="font-weight-bold">{{sub_projects.0.user_role.get_name_display}}</span></p>
                        <button class="my-2 rounded bg-info">Voir le projet</button>
                    </div>
                    <div class="col-10 col-md-5 border mb-3 project-div d-flex flex-column justify-content-center align-items-center">
                    <p>Créez un nouveau projet</p>
                    <button class="button-create-project d-inline-block mb-2 rounded bg-info">+</button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        {% if not is_odds %}
        <div class="row justify-content-around text-center p-1">
            <div class="col-10 col-md-5 border project-div">
            <p>Créez un nouveau projet</p>
            <button class="button-create-project d-inline-block mb-2 rounded bg-info">+</button>
            </div>
        </div>
        {% endif %}
        </div>
    
</div>

</header>
{% endblock %}
{% block javascript_files%}
    <script src="{% static 'projects/js/project.js' %}"></script>
{% endblock %}