header.masthead
{
    background-image:url("../images/background_dark.jpg");
}

.navbar-custom
{
    background-color:rgb(58, 54, 54, 0.7);
}

.btn-primary
{
    background-color:rgb(14, 165, 224) !important;
    border-color:rgb(14, 165, 224) !important;
}

.btn-primary:active,.btn-primary:focus, .btn-primary:hover
{
    background-color:rgb(12, 131, 179) !important;
    border-color:rgb(12, 131, 179) !important;
}

.popup-style-message
{
    position:sticky;
    bottom:0;
    left:0;
}