.masthead
{
    background-color:rgb(255,255,255) !important;
    color:black !important;
}

.project-div
{
    transition:box-shadow 0.2s;
}

.shadow-popup
{
    display:none;
    position:fixed;
    top:0;
    width:100vw;
    height:100vh;
    z-index:1040;
    background-color:rgb(0,0,0,0.5);
}

.popup-creation-project
{
    z-index:1041;
    position:relative;
    background-color:white;
    display:block;
    height:calc(70%);
    margin-top:5rem;
}

.button-close-popup
{
    position:absolute;
    cursor:pointer;
    display:flex;
    width:25px;
    height:25px;
    border-radius:50%;
    top:0;
    right:0;
    margin-top:0.5rem;
    margin-right:0.5rem;
    background-color:rgb(185, 0, 0);
    justify-content: center;
    color:white;
}