<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Traductions Odoo - {% block title%}{% endblock %}</title>

        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

        <!-- Custom styles for this template -->
        <link href="{% static 'css-bootstrap-template/one-page-wonder.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        {% block css_links %}{% endblock %}
    </head>
    <body>
        {% block popup %}
        {% endblock %}
        <div class="body-content">
            <!-- Navigation -->
        <nav class="navbar navbar-static navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container">
            <a class="navbar-brand" href="{% url 'view_home'%}">Traductions odoo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link d-flex justify-content-start align-items-center" href="{% url 'invitations_list'%}" title="Mes invitations de projet"><i class="fas fa-tasks fa-2x"></i><span class="d-lg-none pl-2">Mes invitations</span></a>
                </li>
                <li class="nav-item d-flex justify-content-start align-items-center">
                    <a class="nav-link" href="{% url 'projects_list'%}" title="Mes projets"><i class="fas fa-project-diagram fa-2x"></i><span class="d-lg-none pl-2">Mes projets</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex justify-content-start align-items-center" href="{% url 'logout'%}" title="Se déconnecter"><i class="fas fa-sign-out-alt fa-2x"></i><span class="d-lg-none pl-2">Me déconnecter</span></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link d-flex justify-content-start align-items-center" href="{% url 'signup'%}" title="Se créer un compte"><i class="fas fa-user-plus fa-2x"></i><span class="d-lg-none pl-2">Me créer un compte</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex justify-content-start align-items-center" href="{% url 'login'%}" title="Se connecter"><i class="fas fa-sign-in-alt fa-2x"></i><span class="d-lg-none pl-2">Me connecter</span></a>
                </li>
                {%endif%}

                </ul>
            </div>
            </div>
        </nav>

            {% block content %}
            {% endblock %}
        <footer class="py-5 bg-black">
            <div class="container">
                <p class="m-0 text-center text-white small">Geoffrey Remacle &copy;</p>
                <p class="m-0 text-center text-white small"><a class="text-white" href="{% url 'legal_notice'%}">Mentions légales</a></p>
            </div>
        </footer>

        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/header-fixed.js' %}"></script>
        {% block javascript_files%}
        {% endblock %}
    </div>
    </body>
</html>
    