{% extends "projects/base_project.html" %}
{% load static %}
{% block right_content_project %}
<div id="project_instances_list" class="page-content pb-5" data-project-id="{{project.id}}">
    <h4>{{instance_type}}</h4>
    {% if not instances %}
        <p>Aucune instance n'existe pour l'instant</p>
    {% else %}
        <ul>
        {% for instance in instances %}
            <li><a href="{% url 'instance_translations' project_id=instance.project.id instance_id=instance.id instance_type=instance_type%}">{{instance.name}}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}

{% block javascript_files%}
<script src="{% static 'projects/js/project.js' %}"></script>
<script src="{% static 'projects/js/project_detail.js' %}"></script>
{% endblock %}
